<div>
  <h2>{{this.listTitle}}</h2>

  {{#if this.loading}}
    <h4>Loading</h4>
  {{/if}}
  <ul>
    {{#each this.contacts as |contact|}}
      <ContactItem @name={{contact.name}} @email={{contact.email}}/>
    {{/each}}
  </ul>
</div>
