<div class="container">
  <nav>
    <ul>
      <ContactItem @name="Zoey" @email="zoey@emberjs.com"/>

      <!-- Attributes can be indented too -->
      <ContactItem
        @name="Tomster"
        @email="tomster@emberjs.com"
      />
    </ul>
  </nav>
</div>
